@tailwind base;
@tailwind components;
@tailwind utilities;

.blink-cursor {
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
}

/* Blinking animation */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
